* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}
/* Header CSS */
header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  font-size: 14px;
  z-index: 1;
}
.scrolled{
  background: linear-gradient(0deg,#0054ba,#002655)!important;
}
.h-logo img {
  width: 170px;
  margin-right: 20px;
}
nav {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  list-style: none;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px 0px;
}
nav ul li a:hover {
  color: rgba(224, 160, 40, 0.884);
}
.nav-home-active {
  background-color: white;
  color: black;
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: 500;
}
.active-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: rgb(23, 23, 133);
  cursor: pointer;
  font-weight: 700;
}
nav > ul {
  display: flex;
  gap: 1.5rem;
}
nav .nav-btn {
  display: flex;
  gap: 0.5rem;
}
.nav-btn a button {
  padding: 3px 3px;
}
.nav-about {
  position: relative;
}
.sub-menu {
  position: absolute;
  top: 30px;
  left: -10px;
  background: linear-gradient(0deg, #0054ba, #002655);
  padding: 15px 8px;
  border-radius: 10px;
  padding-bottom: 0;
}
.sub-menu li {
  margin-bottom: 18px;
}
.sub-menu li a {
  font-weight: 600;
}
.about-sub {
  display: none;
}
.nav-about:hover .about-sub {
  display: block;
}
.nav-license {
  position: relative;
}
.license-sub {
  display: none;
  position: absolute;
  left: -20px;
  width: 170px;
}
.nav-license:hover .license-sub {
  display: block;
}
.nav-traffic {
  position: relative;
}
.traffic-sub {
  position: absolute;
  width: 140px;
  display: none;
}
.nav-traffic:hover .traffic-sub {
  display: block;
}
.menu-icon {
  position: fixed;
  right: 40px;
  top: 25px;
  z-index: 1000;
}
.nav-icon {
  color: aliceblue;
  font-size: 22px;
  visibility: hidden;
}
.nav-hide{
  visibility: hidden;
  position: fixed;
  right: 40px;
  top: 25px;
  z-index: 1000;
}
@media (min-width: 1347px) {
  nav{
  margin-left: 24rem;
  }
}
@media (max-width: 977px) {
  nav {
    display: none;
  }
  .nav-icon {
    visibility: visible;
  }
  .active-btn {
    display: block;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: rgb(23, 23, 133);
    cursor: pointer;
    font-weight: 700;
    align-items: center;
    width: 90%;
    margin: 10px auto;
  }
  .nav-btn a {
    text-decoration: none;
  }
  .nav-btn a button {
    padding: 7px 0px;
  }
  .sub-menu {
    left: 0px;
  }
}
.mob-nav-cont {
  width: 0px;
  height: 100%;
  background: linear-gradient(101deg, #0054ba, #002655) !important;
  position: absolute;
  top: 0%;
  right: -100%;
  transition: all 0.5s ease-out;
  overflow-x: hidden;
}
.nav-active {
  width: 260px;
  height: 100%;
  background: linear-gradient(101deg, #0054ba, #002655) !important;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 10;
  transition: all 0.5s ease;
}
.nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 20px 5px;
}
.nav-logo img {
  width: 160px;
}
.mob-nav-icon {
  color: aliceblue;
  font-size: 22px;
}
.mob-nav-link > ul {
  display: flex;
  flex-direction: column;
}
.mob-nav-link > ul > li {
  list-style: none;
  border-bottom: 1px solid #fff;
}
.mob-nav-link > ul > li > a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  line-height: 40px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.mob-nav-link > ul > li:active a {
  color: rgba(224, 160, 40, 0.884);
}
.mob-nav-about {
  position: relative;
}
.mob-about-sub {
  padding: 18px 0px 10px 0px;
  width: 100%;
  height: 130px;
  top: 35px;
  border-radius: 0;
  border: 0.55px inset rgba(0, 0, 255, 0.719);
  border-radius: 6px;
  z-index: 10;
}

.mob-about-sub > li {
  list-style: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}
.mob-about-sub > li > a {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  margin-left: 10px;
  font-size: 14px;
}
.mob-nav-license {
  position: relative;
}
.mob-license-sub {
  padding: 18px 0px 10px 0px;
  width: 100%;
  height: fit-content;
  top: 35px;
  border: 0.55px inset rgba(0, 0, 255, 0.719);
  border-radius: 6px;
  z-index: 10;
}

.mob-license-sub > li {
  list-style: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}
.mob-license-sub > li > a {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  margin-left: 10px;
  font-size: 14px;
}
/* Hera SEction CSS */
.hero-section {
  position: relative;
  height: fit-content;
  width: 100vw;
  overflow-x: hidden;
  background: url(../src/images/MainSection.274438f8b4f813dbf313.png);
  background-position-x: 50%;
  background-position-y: 100%;
  background-size: cover;
  margin-top: -71px;
  z-index: -1;
  display: flex;
  align-items: center;
  padding-bottom: 10rem;
  padding-top: 6rem;
}

.mySwiper {
  margin-top: 6rem;
}

.first-slide {
  width: fit-content;
  height: fit-content;
  padding-left: 2rem;
}

.first-slide h4 {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 2px 1px 5px #693800;
  font-family: sans-serif;
  font-weight: 700;
  word-spacing: 4px;
  margin-bottom: 8px;
}

.first-slide h1 {
  font-size: 5vw;
  font-weight: 700;
  background: linear-gradient(
    57deg,
    hsla(0, 0%, 50%, 0.6),
    hsla(0, 0%, 50%, 0.1)
  );
  text-shadow: 2px 3px 10px #003369;
  color: #fff;
}

.first-slide p {
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  margin-top: 10px;
  font-weight: 500;
  word-spacing: 5px;
  padding-right: 10px;
}

/* Second Section CSS */
.S-two-cont {
  width: 100%;
  height: 127px;
  position: relative;
  align-items: center;
  display: flex;
}
.img-div {
  width: 40%;
  padding-top: 20px;
}
.img-div img {
  height: 110px;
  margin-left: 40px;
}
.btn-div {
  display: flex;
  column-gap: 20px;
  row-gap: 15px;
}
.btn-div {
  width: 80%;
  flex-wrap: wrap;
}
.s-t-btn-f {
  padding: 15px 10px;
  border: none;
  font-size: 16px;
  width: 160px;
  background: linear-gradient(101deg, #0054ba, #002655) !important;
  color: White;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 1px 2px 10px black;
  cursor: pointer;
  border-radius: 5px;
}
.s-t-btn {
  padding: 15px 10px;
  border: none;
  font-size: 16px;
  width: 160px;
  background: white;
  color: #0054ba;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 1px 2px 10px black;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.8s ease;
}
.s-t-btn:hover {
  background: linear-gradient(101deg, #0054ba, #002655) !important;
  color: White;
}
@media (max-width: 580px) {
  .img-div {
    display: none;
  }
  .btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 647px) {
  .img-div {
    padding-top: 25px;
  }
}
/* Third Section CSS */
.ThirdSec-cont {
  width: 100%;
  height: fit-content;
  background: url(../src/images/History.281b0cc27f70cb632b37.png);
  background-position: center;
  background-size: cover;
  padding: 25px 40px 20px 60px;
  margin-top: 30px;
  position: relative;
}
@media (max-width: 484px) {
  .ThirdSec-cont {
    padding: 25px 30px 20px 40px;
  }
}
.third-first {
  display: flex;
  align-items: center;
}
@media (max-width: 1240px) {
  .third-first {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 568px) {
  .third-sectop-img {
    display: none;
    margin-right: 0px;
  }
}

.third-first h1 {
  color: #fff;
  margin-bottom: 25px;
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 445px) {
  .third-first h1 {
    font-size: 8vw;
  }
}
.third-first p {
  color: #fff;
  font-family: sans-serif;
  line-height: 22px;
  text-align: justify;
}
.third-second {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0%;
}
.third-sectop-img {
  width: 60px;
  height: auto;
  position: absolute;
  right: 20px;
  top: 5px;
}
.third-iner-second img {
  width: 26rem;
  /* padding-top: 40px; */
  margin-right: 50px;
}
@media (max-width: 484px) {
  .third-iner-second img {
    width: 18rem;
    margin-right: 0;
  }
}
.third-iner-first h1 {
  position: relative;
}
.third-iner-first h1 span::after {
  content: "";
  width: 120px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0%;
  left: 0;
}
/* Card Section CSS */
.card-container {
  width: 100%;
  max-height: fit-content;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.first-card {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
  position: relative;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px 20px;
}
.first-card img {
  width: 140px;
  height: 90px;
  margin: 10px 0px 15px 0px;
}
.first-card h5 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  color: rgb(23, 23, 133);
  font-weight: 800;
}
.hover-div {
  width: 100%;
  height: 100%;
  background: linear-gradient(1turn, #0054ba, rgba(0, 84, 186, 0.9));
  position: absolute;
  bottom: -100%;
  border-radius: 15px;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.first-card:hover .hover-div {
  bottom: 0%;
}
.hover-div h5 {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
.hover-div p {
  color: #fff;
  font-size: 14px;
  padding: 0px 2px;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.hover-div a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 4px 8px;
  font-family: sans-serif;
}
.hover-div a:hover {
  background: linear-gradient(101deg, #002655, #002655) !important;
  color: White;
}
/* Public Message CSS */
.msg-cont {
  width: 100%;
  height: fit-content;
  position: relative;
}
.msg-cont > img:nth-child(1) {
  width: 100px;
  float: right;
  margin-right: 30px;
}
.animate-img > img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 20rem;
  animation: animate-image infinite linear 2s alternate-reverse;
}
@keyframes animate-image {
  from {
    top: 20px;
  }
  to {
    top: 40px;
  }
}
.main-cont {
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.main-cont > img:nth-child(1) {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  left: 90px;
  animation: updown infinite linear 1s alternate-reverse;
}
@keyframes updown {
  100% {
    transform: scale(0.9);
  }
}
.main-cont > img:nth-child(2) {
  width: 350px;
  height: auto;
}
.pulic-text-div {
  width: 50%;
  height: fit-content;
  background: #fff;
  box-shadow: -2px -2px 10px #adadad, 5px 5px 10px rgba(0, 0, 0, 0.473);
  margin-left: -40px;
  margin-top: 1rem;
  padding-bottom: 20px;
}
.pulic-text-div > div {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.pulic-text-div div h1 {
  font-family: sans-serif;
  font-weight: 800;
  margin: 10px 0px 10px 20px;
  color: #174884;
  float: left;
}
.commas-img {
  width: 50px;
  height: 50px;
  margin-top: -30px;
}
.SP-name h2 {
  color: black;
  font-weight: 600;
  margin-left: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  height: 30px;
  margin-bottom: 10px;
  font-size: 2vw;
}
.sp-name-bwlow p {
  margin-left: 30px;
  color: rgb(85, 84, 84);
  font-family: sans-serif;
  font-weight: 700;
}
.sp-detail p {
  color: rgb(70, 70, 70);
  text-align: justify;
  font-size: 14px;
  font-family: sans-serif;
  margin: 20px 2px 0px 30px;
}
@media (min-width: 1000px) {
  .pulic-text-div {
    margin-top: 1.5rem;
  }
}
@media (min-width: 1250px) {
  .pulic-text-div {
    margin-top: 2.2rem;
  }
}
@media (max-width: 1000px) {
  .main-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-cont img:nth-child(1) {
    display: none;
  }
  .pulic-text-div {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .pulic-text-div {
    width: 96%;
    margin: auto;
    margin-top: 20px;
  }
  .officer-img img {
    margin: 40 0px 10px 0px;
  }
  .publicofficer {
    width: 100%;

    height: auto;
  }
  .SP-name h2 {
    font-size: 4.1vw;
    margin-bottom: 2px;
  }
}
/* Service Section */
.service-container{
  width: 100%;
  height: 500px;
  border: 1px solid black;
  background: url(images/station.5216b06bd8213e3d0fe0.png) ;
  background-size: cover;
  background-position: center;
}
.service-heading{
  margin-top: 20px;
}
.service-heading p{
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}
.service-heading p::before{
  content: "";
  width: 168px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  transform: translateX(32px);
}